@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: #555;
}

.card {
  /* width: 90%; */
  max-width: 40rem;
  /* background: linear-gradient(135deg, #00feba, #5b548a); */
  background: linear-gradient(to bottom, #00feba, #5b548a);
  /* background: linear-gradient(to bottom, blue, chocolate); */
  /* background: linear-gradient(to bottom, skyblue, chocolate); */
  color: #fff;
  margin: 6.2rem auto 0;
  border-radius: 1.2rem;
  padding: 2.5rem 2.2rem;
  text-align: center;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 0.6rem 1.5rem;
  height: 3.75rem;
  border-radius: 1.9rem;
  flex: 1;
  margin-right: 1rem;
  margin-top: 1rem;
  font-size: 1.1rem;
}

.search button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 3.75rem;
  height: 3.75rem;
  cursor: pointer;
}

.search button img {
  width: 1rem;
}

.weather-icon {
  width: 10rem;
  margin-top: 1.8rem;
}

.weather h1 {
  font-size: 5rem;
  font-weight: 500;
}

.weather h2 {
  font-size: 2.7rem;
  font-weight: 400;
  margin-top: -0.4rem;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.2rem;
  margin-top: 3rem;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
}

.col img {
  width: rem;
  margin-right: 0.4rem;
}

.humidity,
.wind {
  font-size: 2rem;
  margin-top: -0.4rem;
  margin-bottom: 0;
}

.sand,
.info {
  display: none;
}

.error {
  text-align: left;
  margin-left: 0.4rem;
  font-size: 0.9rem;
  margin-top: 0.4rem;
  display: none;
}

.col p {
  margin-top: -0.5rem;
}

@media screen and (max-width: 500px) {
  .search button img {
    width: 1rem;
  }

  .search input {
    padding: 0.4rem 1rem;
    height: 3rem;

    flex: 1;
    margin-right: 0.5rem;
    font-size: 1rem;
  }

  .search {
    width: 90%;
  }

  .search button {
    padding: 1rem;
    width: 3rem;
    height: 3rem;
  }

  .weather-icon {
    width: 7rem;
    margin-top: 1rem;
  }

  .weather h1 {
    font-size: 4rem;
  }

  .weather h2 {
    font-size: 2rem;
    margin-top: -0.3rem;
  }

  .details {
    flex-direction: column;
    margin-top: 1rem;
    gap: 2rem;
  }

  .col img {
    width: 2rem;
    margin-right: 0.3rem;
  }

  .col p {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 388px) {
  .search button img {
    width: 0.7rem;
  }

  .search input {
    padding: 0.4rem 0.7rem;
    height: 2.5rem;

    flex: 1;
    margin-right: 0.1rem;
    font-size: 0.7rem;
  }

  .search {
    width: 90%;
  }

  .search button {
    padding: 0.6rem;
    width: 2rem;
    height: 2rem;
    margin-left: 0.5rem;
  }

  .weather-icon {
    width: 5.5rem;
    margin-top: 0.7rem;
  }

  .weather h1 {
    font-size: 2rem;
  }

  .weather h2 {
    font-size: 2rem;
    margin-top: -0.3rem;
  }

  .details {
    flex-direction: column;
    margin-top: 0.5rem;
    gap: 1rem;
  }

  .col img {
    width: 1rem;
    margin-right: 0.2rem;
  }

  .col p {
    font-size: 1rem;
  }
}
